<div class="product-card col-4">
    <div class="container"><a href="/portfolio/expressjs/game-rental/product/{{this.pid}}"><img src="/portfolio/expressjs/game-rental/img/{{this.img}}" class="image"></a>
        <div class="middle">
            <div class="text"><a href="/portfolio/expressjs/game-rental/product/{{this.pid}}">Details</a></div>
        </div>
    </div>
    <h3>{{this.name}}</h3>

</div>