{{#if this.availability}}
<div class="product-card-avil col-3">
    <a href="/portfolio/expressjs/game-rental/product/{{this.pid}}"><img src="/portfolio/expressjs/game-rental/img/{{this.img}}"></a>
    <h3>{{this.name}}</h3>
</div>
{{/if}}