<main id="error">
    <h2 class="center">Error!</h2>
    <div class="center">{{errorMsg}}</div>
    <div class="center"><input class="form-control button" type="button" value="Go back!" onclick="history.back()">
    </div>
</main>