<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/portfolio/expressjs/youtube-display/css/styles.css" />
  <script type="text/javascript" src="/portfolio/expressjs/youtube-display/js/common.js"></</script>
  <title>{{title}} | YouLoop (Assignment 4)</title>
</head>

<body>
  <div id="container">
    <header>
      <div id="logo">
        <h1><a href="/portfolio/expressjs/youtube-display"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
              class="bi bi-youtube" viewBox="0 0 16 16" id="IconChangeColor" transform="rotate(0)">
              <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                id="mainIconPathAttribute" fill="#ff0000"></path>
              <animateTransform href="#IconChangeColor" attributeType="xml" attributeName="transform" type="rotate"
                from="0" to="359" dur="2s" repeatCount="indefinite"></animateTransform>
            </svg><span class="logo-text">YouLoop</span></a></h1>
      </div>
      <div id="search-bar">
        <form method="GET" action="/portfolio/expressjs/youtube-display/search" id="search-form">
          <input class="form-control" name="keywords" type="text" placeholder="Enter keyword.." />
          <button class="form-control button" type="submit">Search</button>
        </form>
      </div>
      <div style="text-align:right;"><a href="/portfolio/expressjs/youtube-display/admin">[Admin]</a></div>
      <div class="clear" style="border-bottom:1px solid #ddd;">
      </div>
    </header>
    {{{body}}}
    <footer class="center">
      <div id="copyright">&copy; Video Demo | Images from
        <a href="https://youtube.com/">Youtube&reg;</a>
      </div>
    </footer>
  </div>
</body>


</html>