{{#if this.availability}}
  <div class="product-card-avail col-3">
    <a href="/portfolio/expressjs/youtube-display/product/{{this.pid}}"><img src="{{this.image}}" /></a>
    <h3>{{this.name}}</h3>
  </div>
{{/if}}